<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
      
    <context:component-scan base-package="org.core.concepts"/>

    <!-- bean definitions here -->

<!--    <bean id="engine1" class="org.core.concepts.Engine">-->

<!--    </bean>-->


<!--    <bean id="car" class="org.core.concepts.Car">-->


<!--        &lt;!&ndash;information for injection&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="engine" ref="engine1"/>&ndash;&gt;-->

<!--        <constructor-arg ref="engine1"/>-->

<!--    </bean>-->

</beans>